@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.about {
  position: relative;
  padding: rem(64) 0 0;

  &__inner {
    overflow: hidden;
  }

  &__box {
    padding-bottom: rem(156);
  }

  &__image {
    min-height: 400px;
    padding-bottom: rem(64);
    background: var(--color-cream-400);

    img {
      position: relative;
      bottom: 60px;
      filter: drop-shadow(20px 16px 26px var(--color-dark-400-30));
      width: 100%;
      height: 100%;
    }
  }

  @include media(tablet) {
    padding: rem(60) 0;

    &__inner {
      min-height: auto;
    }

    &__box {
      padding: rem(30);
      padding-right: 0;
    }
  }

  @include media(mobile-l) {

    &__inner {
      border-radius: 0;
    }

    &__image {
      position: relative;
      border-radius: 0;
    }

    &__box {
      display: flex;
      flex-direction: column;
      padding: 0;
    }


    .overlay {
      &::before {
        display: none;
      }
    }
  }
}