 /* stylelint-disable declaration-no-important */
 @use "../utils/functions/"as*;
 @use "../utils/mixins"as*;

 .btn {
   position: relative;
   border: 1px solid var(--color-white);
   padding: 18px rem(28);
   min-width: 140px;
   max-width: 240px;
   font-weight: var(--fw-500);
   font-size: 20px;
   line-height: 1.2;
   color: var(--color-white);
   background-color: transparent;
   transition-property: background-color, color, border-color;
   transition-duration: 0.4s;

   &:hover,
   &:not(.slick-arrow):focus {
          border-color: var(--color-black);
          color: var(--color-black);
          background-color: var(--color-white);
   }

   &--arrow {
     position: relative;
     padding-right: rem(60);
     max-width: unset;

     &::after {
       content: "";
       position: absolute;
       top: 50%;
       right: rem(28);
       width: 24px;
       height: 24px;
       transform: translateY(-50%);
       background-image: url("data:image/svg+xml,%3Csvg width='65' height='64' viewBox='0 0 65 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.5 6C27.3577 6 22.3309 7.52487 18.0552 10.3818C13.7795 13.2387 10.447 17.2994 8.47914 22.0502C6.51127 26.8011 5.99638 32.0288 6.99959 37.0723C8.00281 42.1159 10.4791 46.7486 14.1152 50.3848C17.7514 54.0209 22.3842 56.4972 27.4277 57.5004C32.4712 58.5036 37.6989 57.9887 42.4498 56.0209C47.2007 54.053 51.2613 50.7205 54.1182 46.4448C56.9751 42.1691 58.5 37.1423 58.5 32C58.4927 25.1066 55.7511 18.4976 50.8767 13.6233C46.0024 8.74889 39.3934 6.00728 32.5 6ZM32.5 54C28.1488 54 23.8953 52.7097 20.2775 50.2923C16.6596 47.8749 13.8398 44.439 12.1747 40.419C10.5095 36.3991 10.0739 31.9756 10.9227 27.708C11.7716 23.4404 13.8669 19.5204 16.9437 16.4437C20.0204 13.3669 23.9404 11.2716 28.208 10.4227C32.4756 9.57385 36.8991 10.0095 40.919 11.6747C44.939 13.3398 48.375 16.1596 50.7923 19.7775C53.2097 23.3953 54.5 27.6488 54.5 32C54.4934 37.8327 52.1734 43.4247 48.0491 47.549C43.9247 51.6734 38.3327 53.9934 32.5 54ZM43.915 30.585C44.101 30.7707 44.2485 30.9913 44.3491 31.2341C44.4498 31.4769 44.5016 31.7372 44.5016 32C44.5016 32.2628 44.4498 32.5231 44.3491 32.7659C44.2485 33.0087 44.101 33.2293 43.915 33.415L35.915 41.415C35.5397 41.7903 35.0307 42.0011 34.5 42.0011C33.9693 42.0011 33.4603 41.7903 33.085 41.415C32.7097 41.0397 32.4989 40.5307 32.4989 40C32.4989 39.4693 32.7097 38.9603 33.085 38.585L37.6725 34H22.5C21.9696 34 21.4609 33.7893 21.0858 33.4142C20.7107 33.0391 20.5 32.5304 20.5 32C20.5 31.4696 20.7107 30.9609 21.0858 30.5858C21.4609 30.2107 21.9696 30 22.5 30H37.6725L33.085 25.415C32.7097 25.0397 32.4989 24.5307 32.4989 24C32.4989 23.4693 32.7097 22.9603 33.085 22.585C33.4603 22.2097 33.9693 21.9989 34.5 21.9989C35.0307 21.9989 35.5397 22.2097 35.915 22.585L43.915 30.585Z' fill='white'/%3E%3C/svg%3E%0A");
       background-position: 0 0;
       background-size: contain;
       background-repeat: no-repeat;
       transition-property: filter;
       transition-duration: 0.2s;
     }

     &:hover::after {
       filter: invert(1);
     }

     &-reverse {
       color: var(--color-black);
       border-color: var(--color-black);

       &::after {
         filter: invert(1);
       }

       &:hover {
         border-color: var(--color-white);
       }
     }
   }

   &--reverse {
     color: var(--color-black);
     background-color: var(--color-white);

     &:hover,
     &:not(.slick-arrow):focus {
       border-color: var(--color-white);
       color: var(--color-white);
       background-color: transparent;
     }
   }

   @include media(desktop) {
     min-width: unset;
     max-width: unset;
     padding: 18px;
     font-size: 18px;

     &--arrow {
       padding-right: rem(60);
     }
   }
 }