@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.hero {
  $root: &;
  margin-bottom: 72px;
  padding: 0 0 rem(128);
  @include left-background;


  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    max-width: 1076px;
    color: var(--color-white);
  }

  &__info {
    max-width: 416px;
  }

  &__subtitle {
    max-width: 322px;
    width: 100%;
    font-weight: var(--fw-600);
    margin-bottom: 16px;
    font-size: 24px;
  }

  &__desc {
    max-width: 322px;
    width: 100%;
    margin-bottom: rem(138);
    font-size: 18px;
  }

  &__btn {
    font-weight: var(--fw-500);
    font-size: 32px;
    border-width: 4px;
    padding: 38px rem(100) 38px rem(28);
    max-width: 420px;
    width: 100%;

    &::after {
      right: rem(28);
      width: 64px;
      height: 64px;
    }
  }

  h1 {
    font-family: var(--font-family-secondary);
    font-weight: var(--fw-400);
    line-height: 1.5;
  }

  &--page {
    margin-bottom: 0;
    padding: rem(86) 0 rem(152);
    @include hero-background;

    #{$root}__content {
      translate: 0 25px;
    }

    .hero__inner {
      align-items: flex-start;
    }

    .hero__info {
      max-width: 630px;
      width: 100%;
    }

    .hero__subtitle,
    .hero__desc {
      max-width: inherit;
    }

    .hero__subtitle {
      font-family: var(--font-family-primary);
      font-weight: var(--fw-600);
      margin-bottom: 24px;
      font-size: 32px;
    }

    .hero__desc {
      margin-bottom: 0;
      font-size: 24px;
    }
  }

  &--services {
    padding: rem(160) 0 rem(258);
  }

  &--portfolio {
    margin-bottom: 72px;
    padding: rem(64) 0 rem(64);
    @include left-background;
    min-height: 650px;

    .hero__inner {
      padding-right: rem(48);
      padding-top: rem(48);
      align-items: flex-end;
    }

  }

  &--works {
    padding: rem(64) 0;
    min-height: 710px;
  }
}