@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__inner {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    @include media(tablet) {
      position: fixed;
      top: 0;
      z-index: -1;
      overflow-y: auto;
      padding-top: calc(var(--header-height) * 1.5);
      padding-bottom: 60px;
      height: calc(var(--vh));
      background-color: var(--color-dark-900);
      transform: translateX(150%);
      transition-property: transform;
      transition-duration: 0.4s;
      padding-right: 24px;
      align-items: flex-start;
      right: 0;
      width: 50%;
    }

    @include media(mobile-l) {
      width: 100%;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    margin: 0 auto;

    @include media(tablet) {
      z-index: -1;
      flex-direction: column;
      align-items: flex-end;
      margin: 0 60px 0 0;
    }

    @include media(mobile-s) {
      align-items: flex-start;
    }


  }

  &__item {
    &:not(:last-of-type, .footer .nav__item) {
      margin-right: rem(34);

      @include media(desktop) {
        margin-right: rem(14);
      }

      @include media(tablet) {
        margin-right: 0;
      }
    }

    @include media(tablet) {
      margin-bottom: 30px;
    }
  }

  &__link {
    font-weight: var(--fw-500);
    font-size: 20px;

    &.true {
      border-bottom: 2px solid var(--color-white);
    }

    @include media(desktop) {
      font-size: 16px;
    }
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 24px;

    @include media(tablet) {
      flex-direction: column;
      align-items: flex-end;
      gap: 30px;
    }
  }

  .logo {
    max-width: 205px;
    width: 100%;
  }

  @include media(desktop) {
    .logo {
      max-width: 150px;
    }

  }
}