.tabs__nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.selected {
  color: orangered;
  text-decoration-thickness: 0.25em;
  text-underline-offset: 0.5em;
}

.tabs__pane {
  color: var(--color-dark-900);
  background-color: #fff;
}