@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

html,
body {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

.page {
  height: var(--vh);
  font-family: var(--font-family-primary);
  font-weight: var(--fw-400);
  font-style: normal;
  font-size: clamp(18px, 1vw, 20px);
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--color-white);
  background-color: var(--color-dark-900);
  font-optical-sizing: auto;

  &__body {
    min-width: 320px;
    min-height: var(--vh);
  }

  &.open {
    overflow: hidden;
  }
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

.site-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  min-height: var(--vh);
}

.main {
  padding-top: var(--header-height);
}

#form-request {
  position: fixed;
  z-index: 10;
  margin: auto;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.2s;
  inset: 0;

  &::before {
    content: "";
    position: absolute;
    background-color: var(--color-black);
    opacity: 0.3;
    inset: 0;
  }

  iframe {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 30px auto;
    border: none;
    width: 90%;
    height: calc(var(--vh) - 60px);
    max-width: 980px;
  }

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

.overlay {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.48) 53.89%, rgba(0, 0, 0, 0) 74.96%);
  }
}

.title {
  position: relative;
  padding-left: rem(90);
  margin-bottom: 16px;
  font-weight: var(--fw-600);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: rem(72);
    background-color: var(--color-white);
  }

  &--reverse {
    color: var(--color-dark-900);

    &::before {
      background-color: var(--color-dark-900);
    }
  }

  @include media(mobile-m) {
    padding-left: 0;
    padding-bottom: 4px;
    margin-bottom: 32px;

    &::before {
      top: unset;
      bottom: 0;
      transform: none;
      min-width: 80px;
      width: 40%;
    }
  }
}

.decorated {
  font-family: var(--font-family-secondary);
  font-weight: var(--fw-400);
  font-size: clamp(62px, 3rem + 6vi, 136px);
  line-height: 1.5;

  &--reverse {
    color: var(--color-dark-900);
    text-transform: lowercase;
  }

  &--small {
    margin-bottom: clamp(40px, 4rem + 1vi, 5rem);
    font-size: clamp(46px, 2rem + 3vi, 64px);
    line-height: 1.2;
    text-transform: unset;
  }

  @include media(mobile-sm) {
    font-size: 56px;
  }
}

.desc {
  max-width: 950px;
  width: 100%;
  margin-bottom: 0;
  font-size: clamp(24px, 1vw, 32px);
  color: var(--color-white);

  &--reverse {
    color: var(--color-dark-900-50);
    margin-bottom: rem(78);
  }

  @include media(tablet-wide) {
    font-size: 18px;
    width: 70%;
  }

  @include media(tablet) {
    &--reverse {
      margin-bottom: rem(40);
    }
  }

  @include media(mobile-l) {
    width: 100%;
  }
}
