@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

h1,
h2,
h3 {
  --font-weight: 600;

  overflow: hidden;
  width: fit-content;
  font-family: var(--font-family-primary);
  font-size: clamp(2.5rem, 2.2451rem + 1.0458vi, 3.5rem);

  @include media(mobile-m) {
    line-height: 1.2;
  }
}

a,
button {
  --font-weight: 500;

  font-family: var(--font-family-primary);
}
h1 {
  font-size: clamp(136px, 2rem + 1vi, 144px);
}

h2 {
  font-size: clamp(32px, 2rem + 1vi, 40px);
  text-transform: uppercase;
  color: var(--color-white);
}

h3 {
  --font-weight: 700;

  font-size: clamp(24px, 2rem + 1vi, 32px);
  text-transform: capitalize;
  color: var(--color-black);
}

p {
  font-size: 18px;
}