/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --content-width: 1296px;
  --container-offset: 24px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // font-family
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Libre Baskerville", serif;

  // font-weight
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  // color
  --color-white: #ffffff;
  --color-black: #000000;
  --color-cream-400: #FFF3E9;
  --color-cream-600: #B9A695;
  --color-brown-400: #874B19;
  --color-dark-900: #141313;
  --color-dark-600: #222222;
  --color-gray-600: #EAEAEA;

  --color-white-70: rgba(255, 255, 255, 0.7);
  --color-dark-400-30: rgba(70, 70, 70, 0.3);
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-dark-900-50: rgba(20, 19, 19, 0.5);

  //  radius
  --radius-main: 50%;

  // box shadow
  --shadow-white: -6px 0 30px 0 rgb(255 255 255 / 20%);

  //gradient
  --gradient-primary: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,243,233,1) 100%);
}