/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --content-width: 1296px;
  --container-offset: 24px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // font-family
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Libre Baskerville", serif;

  // font-weight
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  // color
  --color-white: #fff;
  --color-black: #1c1c1c;
  --color-cream-400: #FFF3E9;
  --color-cream-600: #B9A695;
  --color-brown-400: #874B19;
  --color-dark-400-30: rgba(70, 70, 70, 0.3);
  --color-dark-900: #141313;


   // old colors to delete
  --color-gray-400: #f6f7f8;
  --color-gray-600: #a4a4a4;
  --color-gray-650: #a2a2a2;
  --color-gray-700: #4b4b4b;
  --color-tile-800: #0c3c43;

  //  radius to delete
  --radius-main: 12px;

  // shadow
  --shadow-primary: 0px 8px 8px -4px #1118270A;
  --shadow-secondary: 0px 20px 24px -4px #1118271A;

  //gradient
  --gradient-primary: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,243,233,1) 100%);
}